{% extends 'base.html.twig' %}

{% block title %}Log in - My Quiz{% endblock %}

{% block body %}
    <section class="log">
        <form method="post" class="log_form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
            <div class="fields">
                <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
           
                <div class="checkbox mb-3" style="width:100%; height:60px;">
                    <label style="float:right;">
                        <p><input type="checkbox" name="_remember_me"> Se souvenir de moi</p>
                    </label>
                </div>
        
            <div style="text-align:center;">
                <button class="btn btn-lg btn-primary" type="submit">
                    Log in
                </button>
            </div>
        </form>
    </section>
    <script src="https://kit.fontawesome.com/9b58f0fd79.js" crossorigin="anonymous"></script>
{% endblock %}
