{% extends 'base.html.twig' %}


{% block body %}
    {% if app.session.get('playerName') or app.user %}
        <section class='score'>
           <h1>TABLEAU DES SCORES</h1>
            
            
            <div class='tableau'>
                <div class='row'>
                    <div class='playername'>
                        PLAYERNAME
                    </div>

                    <div class='scores'>
                        SCORE
                    </div>

                    <div class='date'>
                        DATE
                    </div>
                </div>
                {% for result in scores %}
                <div class='row'>
                    <div class='playername'>
                        
                        {{result.playername}}
                    </div>

                    <div class='scores'>
                    <a href="quiz/{{result.categorie}}/1/in" class="categorie">{{result.categorieName}}</a><br>
                        {{result.score}}/10
                    </div>

                    <div class='datetime'>
                        {% set day = result.date.date|slice(8, 2) %}
                        {% set month = result.date.date|slice(5, 2) %}
                        {% set year = result.date.date|slice(0, 4) %}
                        {% set hour = result.date.date|slice(10, 9) %}
                        {{day}}/{{month}}/{{year}} <br> à {{hour}}
                        
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>
    {% else %}
        {% include 'redirection.html.twig' %}
    {% endif %}
{% endblock %}
